- content_for :title do
  Your Account

= simple_form_for current_user, url: user_registration_path do |f|
  = f.error_notification
  .inputs
    = f.input :first_name, disabled: true, required: false
    = f.input :last_name, disabled: true, required: false
  .inputs
    = f.input :email, required: true
    = f.input :login, disabled: true, required: false
  .inputs
    = f.input :current_password, required: true
  .inputs
    = f.input :password, required: false
    = f.input :password_confirmation, required: false
  .actions
    = f.button :submit, "Update"
