- content_for :title do
  Your Account

= simple_form_for current_user, url: user_registration_path do |f|
  = f.error_notification
  .inputs
    = f.input :first_name, disabled: true, required: false, label: 'First Name', hint: 'read-only'
    = f.input :last_name, disabled: true, required: false, label: 'Last Name', hint: 'read-only'
  .inputs
    = f.input :email, required: true
    = f.input :login, disabled: true, label: 'Kerberos', required: false, hint: 'read-only'
  .inputs
    = f.input :current_password, hint: "used to confirm changes", required: true, label: 'Current Password'
  .inputs
    = f.input :password, hint: "leave blank if no change desired", required: false, label: 'New Password'
    = f.input :password_confirmation, required: false, label: 'Confirm New Password'
  .actions
    = f.button :submit, "Update"

= simple_form_for current_user.forwarding_address || current_user.build_forwarding_address, url: forwarding_address_path do |f|
  .inputs
    = f.input :street
  .inputs
    = f.input :city
    #state-wrapper.input= render 'subregion_select'
  .inputs
    .input
      = f.label :country
      = f.country_select :country, priority: %W( US CA )
    = f.input :postal_code

  .inputs
    = f.button :submit, 'Save Forwarding Address'

  :javascript
    $('#forwarding_address_country').on('change', function(event) {
      var $selectWrapper = $('#state-wrapper');
      $selectWrapper.load('/accounts/address/subregions?code=' + $(this).val());
    });
