= form_for search, url: :worker_packages, method: :get do |f|
  = f.hidden_field :received_on_equals, value: date - 1.day
  = f.submit "Previous Day"

= form_for search, url: :worker_packages, method: :get do |f|
  = f.hidden_field :received_on_equals, value: date + 1.day
  = f.submit "Next Day"

%table{ data: { collection: :packages }}
  %thead
    %tr
      %th Recipient
      %th Received By
      %th Delivered By
      %th Received At
      %th Note / Comment
  %tbody
    - packages.each do |package|
      %tr
        %td= package.recipient_name
        %td= package.mail_to_worker
        %td= package.delivered_by
        %td= package.received_at
        %td= package.comment
