- content_for :title do
  Deliveries

- if @deliveries.length > 0
  = paginate @deliveries

  %table.deliveries-listing{ data: { collection: :deliveries } }
    %thead
      %tr
        %th.sortable-column.delivered-at
          = link_to "Delivered At", deliveries_path(delivery_search_params_with_reverse_sorting), class: delivery_sorting_css_class, data: { pjax: true, sort: true }
        %th.received-by Sorted By
        %th.delivered-by Delivered By
        %th.package-count Packages
        %th
    %tbody= render @deliveries

  = paginate @deliveries

- else
  %p.empty-message= t ".all_deliveries_signed_out"
