= page_heading

%nav.deliveries-pagination
  %ul
    %li
      = link_to @pagination.previous_week,
        { week_containing: @pagination.previous_week.start },
        { class: "deliveries-pagination-week deliveries-pagination-prev-week" }

    %li
      .deliveries-pagination-week.deliveries-pagination-current-week
        = @pagination.current_week

    %li
      = link_to @pagination.next_week,
        { week_containing: @pagination.next_week.start },
        { class: "deliveries-pagination-week deliveries-pagination-next-week" }

%ul
  - @pagination.current_week.days.reverse_each do |day|
    - if @deliveries[0] && @deliveries[0].delivered_on == day
      %li.deliveries-day-group
        %strong.deliveries-day-group-label.sticky
          = l day, format: :short

        %ul
          - while @deliveries[0] && @deliveries[0].delivered_on == day
            = render @deliveries.shift
