- content_for :title do
  Deliveries

= form_tag deliveries_path, method: :get, data: { deliveries_filter: true } do
  .input
    = label_tag :filter, "Filter by"
    = select_tag :filter, options_for_select(delivery_search_filter_options, delivery_search_params[:filter])

  .input
    = label_tag :sort, "Sort by"
    = select_tag :sort, options_for_select(delivery_search_sort_options, delivery_search_params[:sort]), data: { sort: true }

- if @deliveries.length > 0
  = paginate @deliveries

  %table{ class: delivery_search_results_css_class, data: { collection: :deliveries } }
    %thead
      %tr
        %th.sortable-column.delivered-at Delivered At
        %th.received-by Sorted By
        %th.delivered-by Delivered By
        %th.package-count Packages
        %th
    %tbody= render @deliveries

  = paginate @deliveries

- else
  %p.empty-message= t ".all_deliveries_signed_out"
