= page_heading

= simple_form_for @delivery, html: { id: "new-delivery", class: "log-delivery" } do |f|
  = f.input :deliverer, as: :select, collection: Delivery::Deliverers

  .input-wrapper.autocomplete-search{ data: { recipient_search: true } }
    = label_tag 'autocomplete-search', t("simple_form.labels.delivery.recipients")
    = search_field_tag 'autocomplete-search', nil, autofocus: true, class: 'autocomplete-input', placeholder: t('simple_form.placeholders.delivery.recipients')
    .input-hint= t('simple_form.hints.delivery.recipients')

  %div{ data: { collection: :receipts } }
    = render partial: 'receipts/form', collection: @delivery.receipts, as: :receipt

  %hr

  .center-align
    = f.button :submit, class: "btn-log-delivery"
