- content_for :title do
  Role Management

= simple_form_for UserRole.new(title: params[:title]), html: { data: { type: :json } }, remote: true do |f|
  = f.input :title, label: 'Select a role:', as: :select, collection: User.guise_titles, required: false, wrapper_html: { class: 'inline-input' }
  .input.inline-input.search
    = f.hidden_field :user_id
    = label_tag 'user-search', 'User to add:'

%table.users-in-role
  %thead
    %tr
      %th.user-role-name Name
      %th.date-added Date Added
      %th
  %tbody{ data: { collection: :user_roles } }

= bootstrap_collection
