- content_for :title do
  Sign In

.new-session

  = form_tag '/touchstone' do
    %h2 Touchstone Sign In
    = button_tag 'Sign In with Touchstone'

  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %h2 Local Sign In
    .inputs
      = f.input :email, autofocus: true
      = f.input :password
    .actions
      = f.button :submit, "Sign In"
      = link_to 'Forgot password?', new_user_password_path
