= page_heading

= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'actionable local-sign-in new-session' } do |f|
  .actionable-header
    %h2 Local Sign In

  .actionable-body
    %p Your account has a password tied locally to Besko. If this is your first time signing in locally, you will have to reset your password.
    .inputs
      = f.input :email, autofocus: true
      = f.input :password

  .actionable-footer
    .inputs
      = f.button :submit, "Sign In"
      = link_to 'Forgot password?', new_user_password_path

- if ENV["SHIBBOLETH_LOGIN_HANDLER"]
  .actionable.touchstone-sign-in.new-session
    .actionable-header
      %h2 Touchstone Sign In

    .actionable-body
      %p Using Touchstone you can sign in with your:
      %ul
        %li MIT web certificate
        %li Kerberos account

    .actionable-footer
      = button_to "Sign In with Touchstone", shibboleth_session_path, class: "button"
