<label for="autocomplete-search">{{view.labelText}}</label>
{{view view.searchField}}
{{view view.closeSearch}}
{{view Besko.LoadingAnimation isVisibleBinding="autocompleteSearching" classNames="autocomplete-fetching"}}
{{view view.resultSet}}
