<form class="add-role actionable">
  <div class="actionable-body">
    <div class="input select">
      <label class="select">Role:</label>
      {{view Ember.Select elementId="user_role_title" contentBinding="roles" valueBinding="currentRole" prompt=" " optionLabelPath="content.label" optionValuePath="content.value"}}
    </div>

    {{#if currentRole}}
      {{view Besko.UserAutocomplete}}
    {{/if}}
  </div>
</form>

<div {{bindAttr class=":user-roles content.length:open"}}>
  <table class="users-in-role">
    <thead>
      <tr>
        <th class="user-role-name">Name</th>
        <th class="date-added">Date Added</th>
        <th></th>
      </tr>
    </thead>

    <tbody data-collection="user_roles">
      {{#each controller}}
        <tr data-resource="user_role">
          <td class="user-role-name">{{user.name}}</td>
          <td class="date-added">{{added}}</td>
          <td><button {{action remove this}}>Remove</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
