<div class="inputs inline-inputs">
  <div class="input">
    <label for="deliverer">Delivery Company</label>
    {{view Ember.Select elementId="deliverer" prompt=" " contentBinding="deliverers" selectionBinding="controller.deliverer"}}
  </div>

  {{view Besko.UserAutocomplete}}
</div>


<table {{bindAttr class=":receipts tableVisible:open"}}>
  <thead>
    <tr>
      <th>Recipient</th>
      <th>Number of packages</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>

  <tbody data-collection="receipts">
    {{#each controller}}
      <tr data-resource="receipt">
        <td>{{recipient.name}}</td>
        <td>{{view Ember.TextField type="number" valueBinding="numberPackages"}}</td>
        <td>{{view Ember.TextArea valueBinding="comment"}}</td>
        <td><button {{action remove this}}>Remove</button></td>
      </tr>
    {{/each}}
  </tbody>

  <tfoot>
    <tr>
      <td></td>
      <td><button {{action submit}}>Send Notifications</button></td>
      <td><a {{action clear}} href="javascript:void(0)">Cancel</a></td>
      <td></td>
    </tr>
  </tfoot>
</table>
