%fieldset.log-delivery-receipt{ data: { resource: :receipt, recipient: receipt.user_id } }
  %legend= receipt.user.name

  = simple_fields_for :delivery, defaults: { wrapper: :inline } do |f|
    = f.simple_fields_for :receipts_attributes, receipt, index: receipt.user_id do |f|
      = f.hidden_field :user_id, value: receipt.user_id
      = f.input :number_packages, input_html: { min: 1 }
      = f.input :comment, input_html: { rows: 2 }

      = button_tag t(".actions.remove"), class: 'btn', data: { remove: true }, type: :button
