%tr{ data: { resource: :receipt } }
  %td= receipt.mail_to_worker
  %td= receipt.number_packages
  %td= receipt.created_at
  %td= receipt.deliverer
  %td= receipt.comment
  %td= receipt.sign_out_button
