- content_for :title do
  Package Receipts

- if @receipts.any?

  = paginate @receipts

  %table.receipts-table.table-striped
    %thead
      %tr
        %th= t '.received_by'
        %th= t '.number_packages'
        %th= t '.deliverer'
        %th= t '.comment'
        %th= t '.signed_out_at'
    %tbody{ data: { collection: :receipts} }= render @receipts

  = paginate @receipts

- else
  %p.empty-message= t '.empty'
