- content_for :title do
  Package Receipts

- if collection.any?

  = paginate collection

  %table.receipts-table.table-striped
    %thead
      %tr
        %th= t '.received_by'
        %th= t '.number_packages'
        %th= t '.deliverer'
        %th= t '.comment'
        %th= t '.signed_out_at'
    %tbody{ data: { collection: :receipts} }= render decorated_collection

  = paginate collection

- else
  %p.empty-message= t '.empty'
