<!DOCTYPE html>
<html>
<head>
  <title>Besko</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="notifications">
    <div class="message notice"><%= notice %></div>
    <div class="message error"><%= alert %></div>
  </div>

<%= yield %>

</body>
</html>
