!!!
%html
  %head
    %title Besko | #{ h yield :title }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :script

  %body
    %header
      .inside
        #logo
        #session
          - if current_user
            = link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            = link_to 'Log In', new_user_session_path

    %nav#primary
      %ul= navigation

    #wrapper
      #notifications
        - if alert
          .message.error
            = alert
        - if notice
          .message.notice
            = notice
      %h1= yield :title
      #content
        = yield
      = yield :bootstrap
