!!!
%html
  %head
    %title Besko | #{ h yield :title }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :script
    %meta{ name: :robots, content: 'NOINDEX, NOFOLLOW' }

  %body{ class: body_css_class }
    %header.header
      %nav.navigation.inside
        %ul.nav-group.session-nav
          - if current_user
            %li.nav-group-item
              = link_to 'Account', edit_user_registration_path
            %li.nav-group-item
              = link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            %li.nav-group-item
              = link_to 'Sign Up', new_user_registration_path
            %li.nav-group-item
              = link_to 'Log In', new_user_session_path

        - if current_user
          %ul.nav-group.primary-nav
            - if can? :read, Receipt
              %li.nav-group-item
                = link_to 'Your Packages', receipts_path
            - if can? :read, Delivery
              %li.nav-group-item
                = link_to 'Deliveries', deliveries_path
            - if can? :create, Delivery
              %li.nav-group-item
                = link_to 'Log New Delivery', new_delivery_path

    #wrapper.container
      #notifications.notices.inside
        - if alert
          .message.error
            = alert
        - if notice
          .message.notice
            = notice
        - if alert || notice
          = link_to 'Close', 'javascript:void(0)', class: 'close close-message'

      %h1.inside= yield :title

      #content.content.inside
        = yield

    %footer
