!!!
%html
  %head
    %title Besko | #{ h yield :title }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :script
    %meta{ name: :robots, content: 'NOINDEX, NOFOLLOW' }

  %body{ class: "#{controller.controller_name} #{controller.controller_name}-#{controller.action_name}" }
    %header.header
      .inside
        #session
          - if current_user
            = link_to 'Account', edit_user_registration_path
            &nbsp; | &nbsp;
            = link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            = link_to 'Sign Up', new_user_registration_path
            &nbsp; | &nbsp;
            = link_to 'Log In', new_user_session_path
        #logo

        - if current_user
          %nav.primary-nav
            - if can? :read, Receipt
              = link_to 'Your Packages', receipts_path
            - if can? :read, Delivery
              = link_to 'Deliveries', deliveries_path
            - if can? :create, Delivery
              = link_to 'Log New Delivery', new_delivery_path
            - if can? :manage, UserRole
              = link_to 'Manage Roles', user_roles_path

    #wrapper.container
      #notifications.notices.inside
        - if alert
          .message.error
            = alert
        - if notice
          .message.notice
            = notice
        - if alert || notice
          = link_to 'Close', 'javascript:void(0)', class: 'close-message'

      #content.content.inside
        %h1= yield :title
        = yield
      = yield :bootstrap

    %footer
