<!DOCTYPE html>
<html>
<head>
  <title>Besko</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :script %>
</head>
<body>

  <div id="notifications">
    <% if alert %>
      <div class="notice">
        <span class="message"><%= alert %></span>
      </div>
    <% end %>
    <% if notice %>
      <div class="error">
        <span class="message"><%= notice %></span>
      </div>
    <% end %>
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
