!!!
%html
  %head
    %title Besko | #{ h yield :title }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :script

  %body
    %header
      .inside
        #logo
        #session
          - if current_user
            = link_to 'Account', edit_user_registration_path
            &nbsp; | &nbsp;
            = link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            = link_to 'Sign Up', new_user_registration_path
            &nbsp; | &nbsp;
            = link_to 'Log In', new_user_session_path

    %nav#primary
      - if current_user
        -#%ul= navigation
        %ul
          - if can? :read, Receipt
            %li= link_to 'Packages', receipts_path
          - if can? :read, Delivery
            %li
              = link_to 'Deliveries', deliveries_path
              - if can? :create, Delivery
                %nav.sub
                  %ul
                    %li= link_to 'Review', deliveries_path
                    %li= link_to 'New Delivery', new_delivery_path

    #wrapper
      #notifications
        - if alert
          .message.error
            = alert
        - if notice
          .message.notice
            = notice
      %h1= yield :title
      #content
        = yield
      = yield :bootstrap

    %footer
      .push
